p {
  color: coral;
  font-family: ariel;
  font-size: 160%;
}
p1{ 
    color: orangered;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 250%;
}
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('background.jpg');
    filter: blur(10px); 
    z-index: -1;
}

.groove {
    border: 4px groove black;
    padding: 10px;
}
body {
	background-image:url('back.jpg');
	background-size: cover;
	background-position: centre;
	background-attachment: fixed;
    
}
nav {
    background-color: #333;
    overflow: hidden;
    padding: 10px 0;
}
nav {
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 15px;
    background: #007BFF;
    border-radius: 5px;
}

nav ul li a:hover {
    background: #ff6f00;
}